* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 1120px;
  margin: 0 auto;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 88px 80px 137px 80px;
}
.title-page{
  margin-bottom: 40px;
}
.title-page p, .upper {
color: #E1624F;
text-transform: uppercase;
line-height: 1.2;
font-weight: bold;
}
#city-description img{
  height: 660px;
}
#city-description p {
  margin-top: 24px;
  font-style: italic;
}
#city-description img, 
.card-travel img {
  border-radius: 28px;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
}
p + h1, p + h2 {
  margin-bottom: 8px;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}
.card-travel img {
  margin-bottom: 20px;
}