* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 88px 80px 137px 80px;
}

#container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.title-page {
  margin-bottom: 40px;
}

.title-page p,
.upper {
  color: #E1624F;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
}

.title-page p + h1,
.title-list p + h2 {
  margin-bottom: 8px;
}

#city-description img {
  height: 660px;
  border-radius: 28px;
}

#city-description p {
  margin-top: 24px;
}

img {
  border-radius: 28px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
}

.card-travel img {
  margin-bottom: 20px;
}

.card-travel li {
  font-weight: bold;
}

.card-travel:not(:last-child) {
  margin-bottom: 48px;
}

.card-travel li:not([class]) {
  color: #0C51A7;
}

.card-travel p:nth-of-type(2) {
  font-style: italic;
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

footer {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 48px;
}

footer img,
footer span {
  vertical-align: middle;
}

.couples {
  color: #591B98;
}

.families {
  color: #E5245E;
}

.budget {
  color: #E95E10;
}